
@font-face {
    font-family: 'Bujangnim_nunchi';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Bujangnim_nunchi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
