
@font-face {
    font-family: 'Coco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Coco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
