/*

@font-face {
    font-family: 'Daheng';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Daheng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'Daheng';
    src: url('/assets/fonts/file/Daheng.woff') format('woff');    
    font-weight: normal;
    font-style: normal;
}