/*

@font-face {
    font-family: 'Fairytale_ddobak';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Fairytale_ddobak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
    font-family: 'Fairytale_ddobak';
    src: url('/assets/fonts/file/Fairytale_ddobak.woff') format('woff');    
    font-weight: normal;
    font-style: normal;
}

