
@font-face {
    font-family: 'Firefighter_prayer';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Firefighter_prayer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
