/*
@font-face {
    font-family: 'Geumeunbohwa';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Geumeunbohwa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Geumeunbohwa';
    src: url('/assets/fonts/file/Geumeunbohwa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}