@font-face {
    font-family: 'Ownglyph_Clean_Fragrance-Rg';
    src: url('/assets/fonts/file/Ownglyph_Clean_Fragrance-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}