 * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
    color-adjust: exact !important;                 /*Firefox*/
}
#notice table tdbody{
    background: #fff;
}

.href{
    text-decoration: underline;
}

input[type="text"], input[type="password"], input[type="number"]{
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    background-color: #f6f6f6 !important;
    color: #252525;
    padding-left: 10px;
    font-weight: 500 !important;
    text-indent: 10px;
}

.btnSubmit{
    background: #473030;
    width: 100%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
}

.btnDelete{
    background: #ff6262;
    width: 100%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;    
}

.topBox{
    height: 70px;
}

#login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

#login .loginBox{
    width: 480px;
    height: 350px;        
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

#login .logo{
    margin-bottom: 10px;
}
#login input{
    margin-top: 5px;
}

#login .btnSubmit{
    margin-top: 20px;
}

#body{
    display: flex;
}

#category{
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #473030;
}

#category .logoBox{
    background: #473030;
    text-align: center;
    padding: 15px 0;
}

#category .logo{
    width: 130px;
}


#category .logoBox a{
    color: #fff;    
}

#container{
    width: 100%;
    min-width: 800px;
    min-height: 100vh;
    padding: 25px;
    padding-left: 275px;
    background: #fff;
}

.contentBox{
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

.contentBox a{
    color: #fff;    
    font-weight: 500;    
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contentBox a:hover{
    color: #a1a1a1;   
}

.contentBox i{
        padding-right: 5px;
    width: 25px;
    text-align: center;
}

.contentBox .btnLogout{
    justify-content: center;    
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 0px;
    margin-bottom: 25px;
}

.contentBox a .circle{
    width: 18px;
    height: 18px;
    background: #ff5e5e;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    font-size: 12px;
}

.title{
    display: inline-block;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: bold;
    background: #2b2b2b;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 15px;
}
.btnBox{
    text-align: right;
}

.btnBox a{
    justify-content: center;
    align-items: center;
    width: 150px;
    display: inline-flex;
}

.local{
    background: #f2f5f9;
    margin-top: 13px;
    padding: 10px;
    font-weight: bold;
}

.modal .fa-times{
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.modal p{
    margin: 9px 0;
}

.modal select{
    width: 100%;
    height: 40px;
    background: #eee;
    border: 1px solid #eee;
    background-color: #f6f6f6 !important;
    color: #252525;
    padding-left: 10px;
    font-weight: 500 !important;
    text-indent: 10px;
}

.modal .btnSubmit{
    margin-top: 20px;
}

.modal .thumbnail{
    margin: 0 auto;        
    border-radius: 50%;
}

#interview .kg{
    width: 200px;
    display: inline-block;
}

.modal p{
    margin: 9px 0;
}

.modal .btnSubmit{
    margin-top: 20px;
}

#hometModal .controlForm, #interview .controlForm{
    margin-top: 15px;
    display: block;
}

.modal-content {    
    max-height: 100vh !important;
}

#page{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

#page .link{
    background: #F4F4F4;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
    margin: 0 2px;
}

#page .link.active{
    background: #DE2E3B;
    color: #fff;
    font-weight: bold;
}

.filter{
    margin: 15px 0;
    text-align: left;    
}

.searchType{
    background: #F4F4F4;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
}

.searchTxt{    
    background: #F4F4F4;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    padding-right: 42px;
    width: 250px !important;
}

.fa-search{
    margin-left: -34px;
    font-size: 16px;
    cursor: pointer;
}

#notice table{
    width: 100%;    
    table-layout: fixed;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

#notice td, #notice th{
    text-align: center;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}

#notice table .left{
    text-align: left;    
}

#notice table th{
    background: #e1e1e1;    
    vertical-align: middle;
}

#notice table th.content{
    width: 30%;
}

#notice tbody tr{
    border-bottom: 1px solid #eee;
    height: 40px;    
}

#notice tbody tr:nth-child(odd){
    background: #fbfbfb;
}

#notice tbody tr:hover{
    background: #f5f5f5;
}

#notice table td{
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 14px;
    padding: 4px;
}

.btnAdd{
    float: right;
    margin-top: 15px;
    padding: 0px 14px;
    width: auto;
    margin-right: 15px;
}

.btnRemove{
    background: red;
    float: right;
    margin-top: 15px;
    padding: 0px 14px;
    width: auto;
    margin-right: 15px;
}

#letter .cateBox{
    margin-bottom: 20px;   
}

#letter .cateBox a{
    background: #EEEEEE;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
}

#letter .cateBox a.active{
    background: #6879FF;
    color: #fff;
}

#letter .cateBox a button{
    
}

#letter .letterDir{
    display: inline-block;
    padding: 8px 15px;
    background: #eee;
    margin-right: 5px;
    border: 1px solid #d7d7d7;
    cursor: pointer;
}

#letter .letterDir.active{
    background: #473030;
    color: #fff;
}

#letter .letterFormBox{
    display: flex;
    justify-content: space-around;
}

#letter .letterBox{
    width: 50%;
}

#letter .letterInputBox{
    width: 50%;
}

#letter .letterList{
        display: flex;
    flex-wrap: wrap;
}

#letter .letterViewBox{
    width: 250px;
    cursor: pointer;
    margin: 0 5px;
}

#letter .letterImgBox{
    width: 100%;
    height: 400px;
}

#letter .letterImgBox img{
    width: 100%;
    height: 100%;
}

#letter .letterViewBox p{
    text-align: center;
    padding-top: 5px;
}

#letter .letterBox{        
    min-height: 550px;
    text-align: center;
    background: no-repeat 50% 0 /386px;
    padding-top: 50px;
}

#letterContent{
    width: 310px;
    height: 432px;
    background: Transparent;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    resize: none;
    border: 1px solid black;
}

.btnDownload{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background: #fff;
    border: 1px solid #929292;
    margin-right: 5px;
}

#postView .letterContainer.tema {
    position: relative; 
/*    height: 1075px; */
    overflow: hidden;
} 

#postView .letterBox.tema {
    position: relative;
    min-height: 1120px;
    text-align: center;
    padding-top: 111.3px;
    zoom: 1;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center 0px !important;
/*    margin-left: 0.25cm;*/    
}
    
.letterContent.tema {
    resize: none;
/*
    width: 264px !important;
    height: 375px !important;
*/
    background: none;
/*    line-height: 20.9px !important;     */
    overflow: hidden;
    zoom: 2.08;
}

#postView .letterBox.simple{
    position: relative;
    min-height: 530px;
    text-align: center;    
    zoom: 2.25;
    background-size: 112%;    
    background-repeat: no-repeat;
    background-position: center -49px;    
    margin-left: -28px;
    padding-top: 26px;
}

#postView .letterContent.simple{
    width: 310px;
    height: 432px;
    background: Transparent;
    outline: none;
    font-size: 13px;
    line-height: 21.6px;
    overflow: hidden;
    resize: none;    
    position: relative;
/*    padding-top: 10px;*/
}

#postView .line{
    display: block;
    border-top: 0.5px solid #d2d2d2;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media print {
    #signView .addrTitle {
        color: #2525ff !important;
    }

    #signView .addrTitle .title {
      color: #2525ff !important;
      font-weight: bold;
    }

    #signView .addrTitle .sub-text {
        color: #bbb !important;
        font-size: 0.9em !important;
    }
    
    #signView .addrTitle span{
        color: red !important;
    }
    
    #postView .letterBox.tema {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center 0px !important;        
    }
    
    #postView .letterBox.simple {        
        background-size: 112% !important;        
        background-repeat: no-repeat !important;  
        background-position: center -49px !important;
        overflow: hidden !important;
    }
    
	#postView .line {
        border-top: 0.5px solid rgb(217, 217, 217) !important; /* K=15% */
        left: 50%;
        transform: translateX(-50%) !important;
    }
    
    #postView .letterContent {                
/*        letter-spacing: -0.5px !important;*/
    }
        
    #postView .letterWrap .writeId.simple.index {
        left: 45% !important;        
        right: 0 !important;
    }
    
    #postView .letterWrap .writeId.simple.letterLogo{
        left: 35px !important;        
    }        
    
    #postView .letterWrap .writeId.simple.letterLogo img {
        width: 55px;
    }
    
    #postView .letterWrap .writeId.tema.index{
        left: 50% !important; 
    }
    
    #postView .letterWrap .writeId.tema.letterLogo{
        left: 70px !important;        
    }
    
    #postView .letterWrap .writeId.tema.letterLogo img{
        width: 55px;       
    }
}

#boardV{
    padding: 0 15px;
    padding-top: 15px;    
    margin-top: 90px;
    width: 500px;
    height: 600px;
    margin: 90px auto 0 auto;
}

#boardV .date{
    color: rgba(25, 25, 25, 0.50);
    text-align: right;
}

#boardV .title{
    color: rgba(0, 0, 0, 0.80);    
    font-size: 18px;
    margin: 15px 0;
    font-weight: bold;
    background: unset;
}

#boardV .content{
    color: #696969;
}

#boardV .answer{
    margin-top: 20px;
    border-top: 1px solid #eee;
}

#boardV .answerHead{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#boardV .profileWrap{
    display: flex;
    align-items: center;
}

#boardV .profileWrap i{
    background: #FFDF37;
    padding: 10px;
    border-radius: 8px;
}

#boardV .profileWrap span{
    font-weight: bold;
    padding-left: 5px;
}


#boardW .ment{    
    padding: 10px 0;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    letter-spacing: -0.5px;
}

#boardW .boardTitle{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    letter-spacing: -1px;
}

#boardW .title{
    width: 100%;
    height: 55px;
    text-align: left;
    border-radius: 5px;
    border: 1.17px solid #0000001A;
    padding-left: 15px;
    background-color: #fff !important;
}

#boardW .submitBtn{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: #6879FF;
    color: #fff;
    border-radius: 10px;
}

#boardW .content{
    display: block;
    width: 100%;
    height: calc(100vh - 190px);
    border-radius: 15px;
    border: 1.17px solid #0000001A;
    background: #FFF;
    resize: none;    
    padding: 15px;
    max-height: 300px;
    outline: 0;
}

#boardW .submitBtn{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: #6879FF;
    color: #fff;
}

@page a4sheet { size: 19.0cm 26.0cm }
@page a4reversesheet{ size: 26.0cm 19.0cm }
@page lettersheet { size: 15.0cm 21.0cm; margin: 0mm;}
@page noLettersheet { size: 15.0cm 21.0cm; }
@page signsheet { size: 18.0cm 12.0cm; margin-bottom: 0mm; }
@page a4signsheet { size: 36.0cm 24.0cm; margin-bottom: 0mm; }

@page registSheet { size: 18.0cm 12.0cm }
@page imgSheet { size: 10.0cm 15.0cm;  margin: 0mm; }

.a4sheet { page: a4sheet; page-break-after: always }
.a4reversesheet { page: a4reversesheet; page-break-after: always }
.imgSheet { page: imgSheet; page-break-after: always }
.imgreverseSheet { page: imgreverseSheet; page-break-after: always }

.lettersheet { page: lettersheet; page-break-after: always }
.noLettersheet { page: noLettersheet; page-break-after: always }
.signsheet { page: signsheet; page-break-after: always }
.a4signsheet { page: a4signsheet; page-break-after: always }

.registSheet { page: registSheet; page-break-after: always }


#signView{ 
    padding: 0px;   
    width: 100%;
    height: 100%;
    min-height: 13cm;
    padding-left: 1.0cm;
    font-family: unset !important; color: black; overflow: hidden; position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#signView.big{     
    padding-left: 5.0cm;    
}

#signView .logoType img{
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
#signView .addrTitle{
    margin-bottom: 10px;
    font-weight: bold;
}

#signView .addrTitle span{
    border: 1px solid red;
    color: red !important;
    display: inline-block;
    margin-left: 5px;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    border-style: dashed;
}
    
#signView .addrDetail{
    padding-left: 45px;
}
    
#signView .sign{
    line-height: 20px;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 10px;
    line-height: 24px;
}
    
#signView .zipcode{
    font-size: 20px;
    letter-spacing: 20px;
    margin-top: 12px;
}

#signView .zipcode span {
    border: 1px solid red;
    border-style: dashed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    padding-left: 20px;
    margin-right: 10px;
}

#signReceive {
    display: flex; justify-content: space-between;
}

#signReceive .barcodeBox {
    display: flex; align-items: center;
    padding-bottom: 0.2cm;
}

#signView.big #signReceive .receiveWrap {
    width: 580px;
}

#signReceive .receiveWrap {
    width: 400px;
    font-size: 17px !important;
}

#signReceive .borcodeBox{
    display: flex; justify-content: flex-end; align-items: center; margin-bottom: calc(47px + 0.3cm); margin-left: -6px; flex-direction: column
}

#signReceive .receiveWrap .zipcode{    
    letter-spacing: 20px !important;
    margin-top: 16px !important;
    font-size: 23px !important;
    line-height: 26px !important;
}

#signReceive .choiceCircle{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
    margin: 0 auto;
    font-size: 11px;
}

#signReceive .choiceSquare{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;    
    padding: 2px;
    margin: 0 auto;
    font-size: 11px;
}

#signReceive .barcodeHead {
    display: flex; justify-content: space-between; padding: 0 12px; font-size: 10px;
    display: none;
}
#signReceive .borcodeFooter {
    display: flex; justify-content: space-between; padding: 0 16px; font-size: 11px;
}
#signReceive .notReturnTxt {
    text-align:right; font-size:10px; margin-top:-8px;
}

#signView .signSend {
    max-width: 16cm;
}

#signView .signReceive{
    margin-bottom: 3cm;
}

#signView.big .signReceive{
    padding-bottom: 0cm;
}

#signView .signReceive .addrDetail{
    padding-left: 50px;
}
    
#signView .signReceive .sign{
    line-height: 30px;
}    
    
#signView .stampWrap{
    position: absolute;
    right: 15px;
    top: 15px;    
}    

#signView.big .stampWrap{
    right: 50px;
}

#signView .delStamp{
    position: absolute;
    bottom: calc(10px + 2.2cm);
    font-size: 18px;
}

#signView.big .delStamp{    
    bottom: calc(10px + 3.4cm);
} 

#signView .signWriteId{
    position: absolute;
    color: #737373 !important;
    left: 0.2cm;
/*    top: 6cm;*/
    bottom: calc(0.5cm);
    font-size: 11px;
}

#signView.big .signWriteId{
    left: 4.2cm;
/*    bottom: calc(-10px + 2.2cm);*/
}

#signView .stampWrap .hr1{
    margin: 3px 0;
}

#signView .stampWrap .hr2{
    margin: 3px 0;
}

#signView .stampWrap hr{
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin: 0;
}

#signView .circle{
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;    
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#signView .stamp{
    width: 80px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted;   
}

.barcode {
    width: unset !important;        
}    

.barcode img {
    width: 6.9cm;
    height: 1.3cm;
}

#signView .barcodeWrap {
    width: 6.9cm;
    height: 1.3cm;
}
#postView .letterWrap{
    position: relative;    
}

#postView .letterWrap .writeId{
    position: absolute;
    bottom: 25px;
    right: 100px;
    color: #737373 !important;
    font-size: 10px;
}

#postView .letterWrap .writeId.simple{
    bottom: -10px !important;
    right: 110px;
}

#postView .letterWrap .writeId.index {    
    color: black !important;
    font-size: 14px;
}

/* img - width */
#postImgView .letterImgWrap {    
    min-height: 20.9cm;
    position: relative;
}

#postImgView .cropImgBox {
    position: relative;
    width: 14.95cm;
    height: 22.0cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postImgView .cropImg {    
    width: 100%;
    height: 21.7cm;
}

#postImgView .cropImgBox2 {
    position: relative;
    width: 14.95cm;
/*    height: 22.3cm;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#postImgView .cropImg2 {    
    width: 100%;
    max-height: 825px;
}

#postImgView .imgBox {
    position: relative;
    width: 14.95cm;
    height: 21.9cm;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#postImgView .postImg {
    margin-top: -17px !important;
}

#postImgView .postImg.maxWidth {    
    width: 14.95cm;
}

#postImgView .postImg.maxHeight {    
    height: 21.2cm;    
}

@media print {
    #postImgView .postImg.height {
        max-width: 14.95cm !important;
        max-height: 21.2cm !important;
    }
}
    
#postImgView .postImg.width{
/*
    width: 13.45cm;
    height: 20.4cm;
*/
}

#postImgView .letterImgWrap .writeId{
    position: absolute;
    bottom: -14px;
    right: 25px;
    font-size: 9px;
    z-index: 1;
    color: #737373 !important
}


/*
#postView .letterBox.simple{
    min-height: unset !important;
    text-align: left !important;
    padding-top: 4px !important;
}
*/

.letterBox.simple .line{        
/*    width: 100% !important;*/
}

.modal .ui-state-default  {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    background: #eee;
    border-radius: 5px;
    padding: 5px 0px;
    cursor: grab;
}

.modal .ui-state-default  button {
    position: absolute;
    right: 12px;
    background: #717171;
    color: #fff;
    border-radius: 3px;
    padding: 0 5px;
}

#dropZone.dragover {
    background: #f6f6f6 !important;
}

/* popup */
.popupContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.30);
    
    /* animation */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease;
    z-index: 9999;
}


.popupContainer.show {
    opacity: 1;
    visibility: visible;
}

.popupContainer .popupBox{
    min-width: 380px;
    width: 95%;
    max-width: 600px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(----Stroke, #E6E7E7);
    background: var(----FF, #FFF);
    max-height: 90vh;
    overflow: auto;
}

.popupContainer .title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #fff !important;
}

.popupContainer .title p{
    color: var(----dark-100, #061310);    
    font-size: 16px;    
    font-weight: 700;
}

.popupContainer .title i{
    cursor: pointer;
    color: #061310;
}


.popupContainer .btnBox{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.popupContainer .btnBox button{
    display: flex;
    width: 49%;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(----Stroke, #E6E7E7);
}

.popupContainer .btnBox .cancelBtn{    
    color: var(----dark-30, #B4B8B7);
    background: var(----FF, #FFF);
}

.popupContainer .btnBox .accessBtn{
    background: var(----Highlight, #FFD600);
    color: #fff;
}

.postPopup .postBox{
    margin: 10px 0;    
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.postPopup .postHead{
    font-weight: bold;
    margin: 5px 0 2px 0;
}

.postPopup .postContent{
    font-size: 13px;
    color: #858585;
    line-height: 19px;
}

.postPopup .postChoiceBtn{
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    border-radius: 5px;
}

.postPopup .postSelect{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 1.17px solid #0000001A;
    padding-left: 15px;
    margin: 12px 0;
}

#addrModal .addrBtnWrap {
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
}

#addrModal .addrBtn {
    padding: 5px 6px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #c8c8c8;
    font-size: 14px;
    background: url(/assets/image/ico/ico_arrow_down.png) no-repeat right +5px center;
    background-size: 11px 8px;
    padding-right: 23px;
    font-weight: bold;
}

#library .cateBox{
    margin-bottom: 20px;   
}

#library .cateBox a{
    background: #EEEEEE;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
}

#library .cateBox a.active{
    background: #6879FF;
    color: #fff;
}

#library .libraryViewBox{
    width: 250px;
    cursor: pointer;
    margin: 0 5px;
}

#library .libraryImgBox{
    width: 100%;
    height: 400px;
}

#library .libraryImgBox img{
    width: 100%;
    height: 100%;
}

#library .libraryViewBox p{
    text-align: center;
    padding-top: 5px;
}

#library .libraryBox{        
    min-height: 550px;
    text-align: center;
    background: no-repeat 50% 0 /386px;
    padding-top: 50px;
}

#libraryContent{
    width: 310px;
    height: 432px;
    background: Transparent;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    resize: none;
    border: 1px solid black;
}

#library .libraryDir{
    display: inline-block;
    padding: 8px 15px;
    background: #eee;
    margin-right: 5px;
    border: 1px solid #d7d7d7;
    cursor: pointer;
}

#library .libraryDir.active{
    background: #473030;
    color: #fff;
}

#library .libraryFormBox{
    display: flex;
    justify-content: space-around;
}

#library .libraryBox{
    width: 50%;
}

#library .libraryInputBox{
    width: 50%;
}

#library .libraryList{
        display: flex;
    flex-wrap: wrap;
}